# Quarto
_site/
_book/
/.quarto/
*_files/

# RStudio
.Rhistory
.RData
.Rproj.user/

# VS Code
.vscode/

# Python
__pycache__/
# *.ipynb
.ipynb_checkpoints/
*.pyc
**/*.quarto_ipynb
**/*.quarto_ipynb*

# Environment Variables
.env*

# System
.DS_Store
.zshrc

# Other
.claude/
node_modules/
/archive/
/.luarc.json
